<div class="card">
    <img 
        class="poster"
        src={{trackItem.image_url}} 
        alt=""
    />
    <div class="description">
        <a 
            [routerLink]="['/tracks', trackItem.id]"
            class="title">
            {{trackItem.name}}
        </a>
        <p 
            class="duration">
            {{trackItem.duration | msToTime}}
        </p>
    </div>
    <button class="link__button">
        <a class="link__spoty" 
            href={{trackItem.spotify_url}}>
            Play on Spoty
        </a>
    </button>
</div>