.card {
    display: flex;
    flex-direction: row;
    
    padding: 10px;
}


.title {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #00000f;
    margin-bottom: 10px;
}

.description {
    flex-grow: 2;
}

.duration {
    margin-bottom: 10px;
}

.poster {
    margin-right: 10px;
    width: 64px;
    height: 64px;
}

.link__button {
    width: 200px;
    height: 40px;
    align-self: flex-end;

    background-color: #1DB954;
    border: none;
    border-radius: 5px;
}

.link__spoty {
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #fffff0;
}