.main__content{
    margin: 10% 200px;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.track__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}
